---
import AboutHeroImage from '../assets/me_stoic_sage.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 10, 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Welcome to Somewhat_Skilled. I’m the fifth of six kids, a citizen of the Commonwealth, a worker of wood, a leader of dogs, and more often than not, a maker of mistakes. This is my place to wrestle with ideas — philosophy, current events, and what it means to live well — while also sharing the practical side of life: fixing, building, crafting, and managing the everyday challenges of work and finance. It’s part reflection, part workshop, and part journal of what I’m learning along the way.

	</p>

	
</Layout>
