---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import somewhat_skilled_2 from '../assets/somewhat_skilled.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Somewhat Skilled</h1>
			
			<Image src={somewhat_skilled_2} alt="A small lake in a forest." width={200} height={200} style="border-radius: 50%; float: right; margin-left: 1rem; margin-bottom: 1rem;" />
			<p>
  I’ve picked up skills across many domains. In some, I’m deeply practiced; in others, just decent — but always curious.  
</p>
<p>
  This is where I share thoughts and reflections on the things that interest me: philosophy, technology, science, art, and culture. I work with computers, wood, and ideas. I know a fair bit about food. And I like to dig into how things work and why they matter.  
</p>
<p>
  Thanks for stopping by. I hope these reflections spark questions, insights, or even new projects of your own.  
</p>
		</main>
		<Footer />
	</body>
</html>
